<!-- Time-stamp: <2021-10-31 13:49:32 stefan> -*-web-*- -->
<!-- https://www.educba.com/bootstrap-sort-table/
     här använder jag metod 1 för att sortera tabellen

     tabellen sorteras via funktioner i jQuery och datatable, att tr
     och td används och tabindex markeringen

     bootstrap 5.1 används
-->

@using System
@using System.Collections.Generic
@using System.Linq

@using Kartotek.Modeller.Vyer
@using Kartotek.Modeller.Entiteter

@model Kartotek.Modeller.Entiteter.Person

<tr class="clickable-row">
     <td tabindex="0">@Html.DisplayFor(model => Model.Namn)</td>
     <td tabindex="1">@Html.DisplayFor(model => Model.Bostadsort)</td>
     <td>@Html.DisplayFor(model => Model.Telefonnummer)</td>
     <td>@Html.DisplayFor(model => Model.Id)</td>
     <td>
	 <a class="btn btn-warning btn-link" asp-controller="People" asp-action="radering"  asp-route-id="@Model.Id">radering</a>
	 <a class="btn btn-warning btn-link" asp-controller="People" asp-action="modifiera" asp-route-id="@Model.Id">modifiera</a>
     </td>
</tr>
