<!DOCTYPE html>
<!-- Time-stamp: <2021-10-20 23:01:22 stefan> -*-web-*- -->
<!-- _Layout.cshtml -->
<!-- inkluderar via RenderBody() de olika fragmenten -->
<!--   fragment ? Exv: -->
<!--   Views/_ViewStart.cshtml (ett fragment) innan -->
<!--   Views/_ViewImports.cshtml -->
<!-- https://dotnettutorials.net/lesson/asp-net-core-appsettings-json-file/ -->
<!-- https://stackoverflow.com/questions/47296541/access-configuration-from-a-view-in-asp-net-core/47297327 -->
<!-- // via appsettings*.json i foot -->
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
<html lang="sv">
    <head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - MVC_med_registerfunktionalitet_1</title>
	<link rel="stylesheet" href="/lib/bootstrap-5.1.1/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
	<link rel="stylesheet" href="/css/site.css" />
    </head>
    <body>
	<header>
	    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark  bg-dark  border-bottom box-shadow mb-3">
		<div class="container">
		    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MVC_med_registerfunktionalitet_1</a>
		    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
			<ul class="navbar-nav flex-grow-1">
			    <li class="nav-item">
				<a class="nav-link text-light" asp-controller="Home" asp-action="Index" asp-area="">Home</a>
			    </li>
			    <li class="nav-item">
				<a class="nav-link text-light" asp-controller="People" asp-action="Index" asp-area="">Kartoteket</a>
			    </li>
			    <li class="nav-item">
				<a class="nav-link text-light" asp-controller="Home" asp-action="Privacy" asp-area="">Privacy</a>
			    </li>
			</ul>
		    </div>
		</div>
	    </nav>
	</header>
	<div class="container">
	    <main role="main" class="pb-3">
		@RenderBody()
	    </main>
	</div>
	<footer class="border-top footer text-muted">
	    <div class="container">
		<div>
		    &copy; MVC_med_registerfunktionalitet_1 - Stefan Skoglund @DateTime.Now.ToString("D") - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
		</div>
		<!-- https://dotnettutorials.net/lesson/asp-net-core-appsettings-json-file/ -->
		<!-- https://stackoverflow.com/questions/47296541/access-configuration-from-a-view-in-asp-net-core/47297327 -->
		<div>
		    via appsettings*.json: version av programmet: @Configuration["programversion"] dess  driftmiljö: @Configuration["app_run_miljö"]
		</div>
	    </div>
	</footer>
	<!--
	     en liten svårighet:
	     vad bör placeras i wwwroot/lib vs wwwroot/js ?
	     min läsning av skillnaden är att wwwroot/lib ska kunna genereras automatiskt igenom direkt hämtning och expansion
	     av olika moduler (bootstrap, jquery etc) medans js kan ha samma innehåll men får vara statiskt dvs
	     garanteras från git

	     innehåll i wwwroot/js/ först, därefter wwwroot/lib/etc
	-->
	<script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="~/lib/popper/popper.min.js"></script>
	<script type="text/javascript" src="~/lib/bootstrap-5.1.1/js/bootstrap.min.js"></script>

	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>

	<!-- allmänt för den här applikationen -->
	<script type="text/javascript" src="~/js/sorteratabell.js"></script>
	<script type="text/javascript" src="~/js/site.js"></script>
	<!-- möjlighet att från exv People/Index.cshtml få med ett eget script ( section Scripts ) -->
	@await RenderSectionAsync("Scripts", required: false)
    </body>
</html>
