@using System
@using System.Collections.Generic
@using System.Linq

@using Kartotek.Modeller.Vyer
@using Kartotek.Modeller.Entiteter

@model Kartotek.Modeller.Entiteter.Person

<div class="row headline" style="display: flex; flex-wrap: wrap;">
     <div class="col-md-2 text-start">@Html.DisplayFor(model => Model.Namn)</div>
     <div class="col-md-2 text-start">@Html.DisplayFor(model => Model.Bostadsort)</div>
     <div class="col-md-1 text-start">@Html.DisplayFor(model => Model.Telefonnummer)</div>
     <div class="col-md-1 text-start">@Html.DisplayFor(model => Model.Id)</div>
     <div class="col-md-2">
	 <button type="button" class="btn btn-danger"  onClick="rensaUrKortet(@Html.Raw(Model.Id))"             >radering</button>
	 <button type="button" class="btn btn-primary" onClick="modifieraKortet(@Html.Raw(Model.Id))"           >modifiera</button>
     </div>
</div>
