<!-- Time-stamp: <2021-10-29 11:43:20 stefan> -*-web-*- -->

@using Kartotek.Modeller.Entiteter

@model Kartotek.Modeller.Entiteter.Person

<div class="row headline">
     <div class="col-3 text-start">@Html.DisplayFor(model => Model.Namn)</div>
     <div class="col-3 text-start">@Html.DisplayFor(model => Model.Bostadsort)</div>
     <div class="col-2 text-start">@Html.DisplayFor(model => Model.Telefonnummer)</div>
     <div class="col   text-start">@Html.DisplayFor(model => Model.Id)</div>
     <div class="col-3">
	 <a class="btn btn-danger"  asp-controller="People" asp-action="radering"  asp-route-id="@Model.Id" >radering</a>
	 <a class="btn btn-primary" asp-controller="People" asp-action="modifiera" asp-route-id="@Model.Id">modifiera</a>
     </div>
</div>
