@model Kartotek.Modeller.Entiteter.Person

<div class="row headline">
     <div class="col-3 text-start">@Html.DisplayFor(model => Model.Namn)</div>
     <div class="col-3 text-start">@Html.DisplayFor(model => Model.Bostadsort)</div>
     <div class="col-2 text-start">@Html.DisplayFor(model => Model.Telefonnummer)</div>
     <div class="col   text-start">@Html.DisplayFor(model => Model.Id)</div>
     <div class="col-3">
	  <a class="btn btn-warning btn-link" asp-controller="People" asp-action="radering"  asp-route-id="@Model.id" >radering</a>
	  <a class="btn btn-primary btn-link" asp-controller="People" asp-action="modifiera" asp-route-id="@Model.id">modifiera</a>
     </div>
</div>
@foreach(Person person in @Model) {
   @Html.Partial( ./aktiv_rad.cshtml, @person)
}
