<!-- Time-stamp: <2021-10-05 12:24:24 stefan> -*-web-*- -->
<!-- https://www.educba.com/bootstrap-sort-table/
här använder jag metod 1 för att sortera tabellen

tabellen sorteras via funktioner i jQuery och datatable

bootstrap 5.1 används
-->

@using System
@using System.Collections.Generic
@using System.Linq

@using Kartotek.Modeller.Vyer
@using Kartotek.Modeller.Entiteter

@model Kartotek.Modeller.Entiteter.Person

<div class="table-row clickable-row">

<td>
@Html.DisplayFor(model => Model.Namn)
</td>

<td>
@Html.DisplayFor(model => Model.Bostadsort)
</td>

<td>
@Html.DisplayFor(model => Model.Telefonnummer)
</td>

<td>
@Html.DisplayFor(model => Model.Id)
</td>

<td>
<a asp-controller="People" asp-action="radering" asp-route-id="@Model.Id" class="btn btn-warning btn-link">radering</a>
<a asp-controller="People" asp-action="modifiera" asp-route-id="@Model.Id" class="btn btn-warning btn-link">modifiera</a>
</td>

</div>
