@using System
@using System.Collections.Generic
@using System.Linq

@using Kartotek.Modeller.Vyer
@using Kartotek.Modeller.Entiteter

@model Kartotek.Modeller.Entiteter.Person

<div class="row">

<div class="col-3 text-start">@Html.DisplayFor(model => Model.Namn)</div>
<div class="col-3 text-start">@Html.DisplayFor(model => Model.Bostadsort)</div>
<div class="col-2 text-start">@Html.DisplayFor(model => Model.Telefonnummer)</div>
<div class="col   text-start">@Html.DisplayFor(model => Model.Id)</div>
<div class="col-3">
     <a asp-controller="People" asp-action="radering" asp-route-id="@Model.Id" class="btn btn-warning btn-link">radering</a>
     <a asp-controller="People" asp-action="modifiera" asp-route-id="@Model.Id" class="btn btn-primary btn-link">modifiera</a>
</div>

</div>
