<!-- Time-stamp: <2021-10-06 14:47:02 stefan> -*-web-*- -->
<!-- https://www.educba.com/bootstrap-sort-table/
     här använder jag metod 1 för att sortera tabellen

     tabellen sorteras via funktioner i jQuery och datatable

     bootstrap 5.1 används
-->

@using System
@using System.Collections.Generic
@using System.Linq

@using Kartotek.Modeller.Vyer
@using Kartotek.Modeller.Entiteter

@model Kartotek.Modeller.Vyer.HopslagenmodellVymodell

@{
    ViewData["Title"] = "Ett personkartotek";
}

<div class="text-center">
    <h3 class="display-4">Ett kartotek över aktiva medlemmar</h3>
    <div>
	<div class="container">
	    <h4 class="text-start">
		Sökning igenom poster
	    </h4>
	    <form id="filtrering" method="post" asp-controller="People">
		<div class="mb-1 text-start">
		    <label class="filtertermer_label col-sm-1 col-form-label" asp-for="Filtertermer.Namn">
			Namn
		    </label>
		    <input class="col-sm-3" asp-for="Filtertermer.Namn"/>

		    <label class="filtertermer_label col-sm-1 col-form-label" asp-for="Filtertermer.Bostadsort">
			Bostadsort
		    </label>
		    <input class="col-sm-2" asp-for="Filtertermer.Bostadsort"/>

		    <button class="btn btn-secondary" type="reset">Rensa fälten</button> <!-- rensa fälten -->
		    <button class="btn btn-success" type="submit" asp-action="filtrering">Filtrera</button>
			<button class="btn btn-success" type="submit" asp-action="ingenfiltrering">Ingen filtrering</button>
		</div>
	    </form>
	</div>

	<hr>

	<!-- funktion för inläggning av en person i taget  -->
	<div class="container">
	    <h4 class="text-start">
		Inrapportering av nya aktiva
	    </h4>
	    <form id="nya_aktiva" method="post" asp-controller="People" asp-action="nyttkort">
		<div class="row mb-1">
		    <label class="nya_aktiva_label text-start col-sm-2 col-form-label" asp-for="NyttKort.Namn">
			Namn
		    </label>
		    <div class="col-sm-4">
			<input id="nyttkort_namn" class="form-control" asp-for="NyttKort.Namn"/>
		    </div>
		</div>
		<div class="row mb-1">
		    <label class="nya_aktiva_label text-start col-sm-2 col-form-label" asp-for="NyttKort.Namn">
			Bostadsort
		    </label>
		    <div class="col-sm-3">
			<input id="nyttkort_bostadsort" class="form-control asp-for="NyttKort.Bostadsort"/>
		    </div>
		</div>
		<div class="row mb-1">
		    <label class="nya_aktiva_label text-start col-sm-2 col-form-label">
			Telefonnummer
		    </label>
		    <div class="col-sm-2">
			<input id="nyttkort_telefonnummer" class="form-control col-sm-6" asp-for="NyttKort.Telefonnummer"/>
		    </div>
		</div>
		<button class="btn btn-secondary" type="reset">Rensa fälten</button>
		<button class="btn btn-success" type="submit">Skapa kortet</button>
	    </form>
	</div>
	<hr>
    </div>
    <div class="table-responsive">
	<!-- tabell med existerande kort -->
	<table id="personindex" class="table table-striped table-hover table-bordered table-sm" data-order='[[ 0, "asc"]]'>
	    <thead>
		<tr>
		    <th class="th-sm" scope="col" tabindex="0">Namn</th>
		    <th class="th-sm" scope="col" tabindex="1">Ort</th>
		    <th class="th-sm" scope="col" >Telefonnummer</th>
		    <th class="th-sm" scope="col" >Id</th>
		    <th class="th-sm no-sort" scope="col" >Aktion</th>
		</tr>
	    </thead>
	    <tbody>
		@foreach (Person item in Model.Personlistan.Utdraget) {
		    <tr class="clickable-row">

		    <td>
		    @Html.DisplayFor(model => item.Namn)
		    </td>

		    <td>
		    @Html.DisplayFor(model => item.Bostadsort)
		    </td>

		    <td>
		    @Html.DisplayFor(model => item.Telefonnummer)
		    </td>

		    <td>
		    @Html.DisplayFor(model => item.Id)
		    </td>

		    <td>
		    <a asp-controller="People" asp-action="radering" asp-route-id="@item.Id" class="btn btn-warning btn-link">radering</a>
		    <a asp-controller="People" asp-action="modifiera" asp-route-id="@item.Id" class="btn btn-warning btn-link">modifiera</a>
		    </td>

			</tr>
		    }
	    </tbody>
	</table>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
     $(document).ready(function () {
	 $('#personindex').DataTable({
	     "ordering": true // false to disable sorting (or any other option)
	 });
	 $('.dataTables_length').addClass('bs-select');
     });
    </script>
    }
